@font-face {
    font-family: "SarasaMonoSC";
    src: url("fonts/SarasaMonoSC-Regular.ttf") format("truetype");
}

:root {
    /* --md-text-font: "Taipei Sans"; */
    --md-text-font: "SarasaMonoSC";
    --md-code-font: "SarasaMonoSC";
}